2021-06-17 (Thu) ~ 2021-06-21 (Mon)

## 윤년 구하기

- 4로 나누어 떨어지는 해를 윤년   
- 100으로 나누어 떨어지는 해는 평년   
- 400으로 나누어 떨어지는 해는 윤년

In [ ]:
def isLeepYear(year) :
  if year % 400 == 0 :
    return False
  if year % 100 == 0 :
    return False
  if year % 4 == 0 :
    return True
  
  return False

print( isLeepYear(2004) )
print( isLeepYear(2008) )
print( isLeepYear(2100) )
print( isLeepYear(2000) )
print( isLeepYear(2021) )

True
True
False
False
False

In [ ]:
def isLeepYear(year) :
  if year % 400 == 0 :
    return False
  if year % 100 == 0 :
    return False
  if year % 4 == 0 :
    return True
  
  return False

def printLeepYear(year) :
  print(year, isLeepYear(year))

printLeepYear(2004)
printLeepYear(2008)
printLeepYear(2000)
printLeepYear(2100)
printLeepYear(2021)

2004 True
2008 True
2000 False
2100 False
2021 False

## 딕셔너리

In [ ]:
  medal_bag = ['Bronze', 'Gold', 'Gold', 'Gold', 'Silver', 'Gold', 'Gold', 'Gold', 'Silver', 'Silver', 'Silver', 'Bronze', 'Bronze']
  medal_bag.count('Gold')

6

In [ ]:
# 주어진 count_individual()함수, make_dictionary(), init()함수 직접 수정 불가
# 출력 결과 : {'Gold': 6, 'Silver': 4, 'Bronze': 3}

def count_individual(medal_bag):
  gold_count = 0
  silver_count = 0
  bronze_count = 0

  for medal in medal_bag :
    if medal == 'Gold':
      gold_count += 1
    
    elif medal == 'Silver':
      silver_count += 1
    
    elif medal == 'Bronze':
      bronze_count += 1

  return gold_count, silver_count, bronze_count

def make_dictionary(gold_count, silver_count, bronze_count):
  medal_dict = {
      'Gold' : gold_count,
      'Silver' : silver_count,
      'Bronze' : bronze_count
  }

  return medal_dict

def init():
  medal_bag = ['Bronze', 'Gold', 'Gold', 'Gold', 'Silver', 'Gold', 'Gold', 'Gold', 'Silver', 'Silver', 'Silver', 'Bronze', 'Bronze']

  gold_count, silver_count, bronze_count = count_individual(medal_bag)
  medal_dict = make_dictionary(gold_count, silver_count, bronze_count)

  print(medal_dict)

init()

{'Gold': 6, 'Silver': 4, 'Bronze': 3}

In [ ]:
# 주어진 count_individual()함수, make_dictionary(), init()함수 직접 수정 불가
# 출력 결과 : {'Gold': 6, 'Silver': 4, 'Bronze': 3}

def count_individual(medal_bag) :
  return medal_bag.count('Gold'), medal_bag.count('Silver'), medal_bag.count('Bronze')

def make_dictionary(gold_count, silver_count, bronze_count) :
  return {'Gold' : gold_count, 'Silver' : silver_count, 'Bronze' : bronze_count}

def init() :
  medal_bag = ['Bronze', 'Gold', 'Gold', 'Gold', 'Silver', 'Gold', 'Gold', 'Gold', 'Silver', 'Silver', 'Silver', 'Bronze', 'Bronze']

  gold_count, silver_count, bronze_count = count_individual(medal_bag)
  medal_dict = make_dictionary(gold_count, silver_count, bronze_count)

  print(medal_dict)

init()

{'Gold': 6, 'Silver': 4, 'Bronze': 3}

## Class

In [ ]:
x = 1
print(type(x))

<class 'int'>

In [ ]:
def hello() :
  print('hello')

print(type(hello))

<class 'function'>

In [ ]:
x = 1
y = 'hello'

print(x + y)

TypeError: ignored

In [ ]:
x = 1
y = 2

print(x + y)

3

In [ ]:
str = "hello"
print(str.upper())

HELLO

In [ ]:
x = 1
print(x.upper())

AttributeError: ignored

In [ ]:
class Dog :
  def meong(self) :
    print('멍')

d = Dog()
print(type(d))  # <class '__main__.Dog'> : 모듈명
d.meong()

<class '__main__.Dog'>
멍

In [ ]:
class Dog :
  def meong(self) :
    print('멍')
  
  def add_one(self, x) :
    return x + 1  

d = Dog()
print(type(d))  # <class '__main__.Dog'> : 모듈명
d.meong()
print(d.add_one(5))

<class '__main__.Dog'>
멍
6

초기화

In [ ]:
class Dog :
  def __init__(self, name) : # __init__ : 초기화 시키는 메소드
    self.name = name  # name을 self.name 에 보관

  def meong(self) :
    print('멍')
  
  def add_one(self, x) :
    return x + 1  

d = Dog('해피')
d.name

'해피'

In [ ]:
class Dog :
  def __init__(self, name) : # __init__ : 초기화 시키는 메소드
    self.__name = name  # 히든 속성, 강제화 (외부에서 접근하지 못하게 메소드 함수를 통해서만 사용할 수 있도록 함)

  def get_name(self) :
    return self.__name

d = Dog('해피')
print(d.get_name())

해피

In [ ]:
class Dog :
  def __init__(self, name, age) : # __init__ : 초기화 시키는 메소드
    self.name = name 
    self.age = age

  def get_name(self) :
    return self.name

  def get_age(self) :
    return self.age

d = Dog('해피', 30)
print(d.get_name()) # 해피
print(d.get_age()) # 30

In [ ]:
class Dog :
  def __init__(self, name, age) : # __init__ : 초기화 시키는 메소드
    self.name = name 
    self.age = age

  def get_name(self) :
    return self.name

  def get_age(self) :
    return self.age

  def set_age(self, age) :
    self.age = age  # age 값 변경

d = Dog('해피', 30)
print(d.get_name()) # 해피
print(d.get_age()) # 30
d.set_age(22)
print(d.get_age()) # 22

해피
30
22

## 클래스 간의 상호작용

In [ ]:
class Student :
  def __init__(self, name, age, grade) :
    self.name = name
    self.age = age
    self.grade = grade

  def get_grade(self) :
    return self.grade

class Course :
  def __init__(self, name, max_students) :
    self.name = name
    self.max_students = max_students
    self.students = []

  def add_student(self, student) :
    
    return self.add_student

  def get_average_grade(self) :
    get_average_grade = (s1.grade + s2.grade + s3.grade) / 3
    return get_average_grade

s1 = Student('아이언맨', 19, 95)
s2 = Student('스파이더맨', 19, 75)
s3 = Student('헐크', 19, 85)

course = Course('과학', 2)
course.add_student(s1)
course.add_student(s2)
print(course.get_average_grade()) # 평균점수

85.0

In [ ]:
class Student :
  def __init__(self, name, age, grade) :
    self.name = name
    self.age = age
    self.grade = grade

  def get_grade(self) :
    return self.grade

class Course :
  def __init__(self, name, max_students) :
    self.name = name
    self.max_students = max_students
    self.students = []

  def add_student(self, student) :
    self.students.append(student)

  def get_average_grade(self) :
    sum = ()
    for student in self.students :
      sum += student.get_grade()
    return sum / len(self.studetns)

s1 = Student('아이언맨', 19, 95)
s2 = Student('스파이더맨', 19, 75)
s3 = Student('헐크', 19, 85)

course = Course('과학', 2)
course.add_student(s1)
course.add_student(s2)
print(course.get_average_grade()) # 평균점수

TypeError: ignored

In [ ]:
class Student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade
  
  def get_grade(self):
    return self.grade

class Course:
  def __init__(self, name, max_students):
    self.name = name
    self.max_students = max_students
    self.students = []

  def add_student(self, student):
    if len(self.students) < self.max_students:
      self.students.append(student)
      return True
    return False
  
  def get_average_grade(self):
    sum = 0
    for student in self.students:
      sum += student.get_grade()
    return sum / len(self.students)


s1 = Student('아이언맨', 19, 95)
s2 = Student('스파이더맨', 19, 75)
s3 = Student('헐그', 19, 85)

course = Course('과학', 2)
course.add_student(s1)
course.add_student(s2)
print(course.get_average_grade())

85.0

## 파이썬

In [ ]:
if 4 in [1, 2, 3, 4] : print('4가 있습니다.')

4가 있습니다.

자료형

변수 : 변화를 줄 수 있는 or 변할 수 있는 수

In [ ]:
# 숫자형
integer = -1

# 문자열
string = "hello"

# 리스트
list = [1,2,3,4]

# 튜플
tule = (1,2,3,4)

# 딕셔너리(맵)
dic = {'name':'홍길동', 'age':16}

# 집합
s = set( [1, 2, 3, 1] ) # 중복이 허용되지 않음
print(s) # {1, 2, 3}

# Boolean
b = True

{1, 2, 3}

In [ ]:
str = "python's\n 궁시렁"
print(str[0], str[3])
print(str[0:4])
print(str[-3:]) # 뒤에서부터

p h
pyth
궁시렁

In [ ]:
# s에 들어있는 문자열을 연도, 월, 일, 날씨로 구분하여 저장하세요
s = "20210316Rainy"

year = s[:4]
month = s[4:6]
day = s[6:8]
weather = s[8:]

print(year, month, day, weather)

2021 03 16 Rainy

In [ ]:
a = 100
b = 200
sum = a + b

print("{}과 {}의 합은 {}입니다.".format(a, b, sum))
print("%d과 %d의 합은 %d입니다." %(a, b, sum))
print()

100과 200의 합은 300입니다.
100과 200의 합은 300입니다.

연산자

In [ ]:
# 산술연산자
n1 = 10
n2 = 7
print(n1 / n2) # 나눗셈
print(n1 % n2) # 나머지
print(n1 // n2) # 나눗셈 소수점 자리 올림

1.4285714285714286
3
1

#### 연산자 예제 02
변수 num 값 중에서 백의 자리 이하를 버리는 코드이다.
만일 변수 num의 값이 456이라면 400이 되고, 111이라면 100이 된다.
```
num = 456
?
```
```
결과 확인: 400
```

In [ ]:
num = int(input())

a = num // 100
print(a*100)

456
400

In [ ]:
num = 456
print(num // 100 * 100)
print(num - num % 100)
print(int(num/100) * 100)

400
400
400

In [ ]:
num = int(input("정수를 입력 : "))
type(num)

정수를 입력 : 3

int

#### 연산자 예제 03
초를 입력 받아 [시, 분, 초] 형태로 출력하세요.
```
초 입력: 3723
1 시 2 분 3 초
```

In [ ]:
s = 3723

h = s // 60 // 60
m = s // 60 % 60
ss = s % 60

print("%s 시 %s 분 %s 초" %(h, m, ss))
print("{} 시 {} 분 {} 초".format(h, m, ss))

1 시 2 분 3 초
1 시 2 분 3 초

In [ ]:
# 함수화

def toTime(s) :
  h = s // 60 // 60
  m = s // 60 % 60
  ss = s % 60
  return h, m, ss

h, m, ss = toTime(3723)
print("{} 시 {} 분 {} 초".format(h, m, ss))

1 시 2 분 3 초

#### 연산자 예제 04
시급계산기 입니다. 기본시급은 5,000원이고, 
8시간이 넘을 경우 초과된 시간은 시급의 1.5배를 책정해줍니다.
```
노동 시간 입력: 11
총 임금은 62,500 원 입니다.
```

In [ ]:
num = int(input("노동 시간 입력 : "))

if num > 8 :
  wage1 = 8 * 5000
  wage2 = num - 8
  wage3 = int(wage2 * 5000 * 1.5)
  wage = wage1 + wage3
elif num < 8 :
  wage = num * 5000

print("총 임금은 %s 원 입니다." %(wage))

노동 시간 입력 : 11
총 임금은 62500 원 입니다.

In [ ]:
worktime = 11
overtime = worktime % 8
pay = (5000 * worktime) + (5000 * 0.5 * overtime)
pay

62500.0

In [ ]:
def getpay(worktime, overpay, ratio) :
  worktime = 11
  overtime = worktime % 8
  return (overpay * worktime) + (overpay * ratio * overtime)
  
overpay = 5000
ratio = 0.5
pay = getpay(11, overpay, ratio)
pay

62500.0

## 리스트

In [ ]:
a = []
b = [1, 2, 3]
c = [1, 2, ['life', 'is']]

In [ ]:
len(c)

3

In [ ]:
array = [2, 5, 7, 9, 10]
print(array[2] + array[4])

17

In [ ]:
array[2] = 100
print(array)
print(array[2] + array[4])

[2, 5, 100, 9, 10]
110

In [ ]:
array[:2]

[2, 5]

In [ ]:
# 리스트 복사

a = [1, 2, 3]
b = a
print(a is b)
print(id(a), id(b))

b = a[:]
print(a is b)
print(id(a), id(b))

True
140662636176720 140662636176720
False
140662636176720 140662636395328

In [ ]:
array = [1,2,3,4,5]
print(array.index(4))
array.insert(3, 'my') # 중간에 삽입하는 방법
array

a = array.pop() # 가장 마지막에 있는 요소를 추출 = 스택 구조
print(array)

b = array.pop(3)
print(array)

c = array.remove(3) # 삭제
print(array)

a, b, c

3
[1, 2, 3, 'my', 4]
[1, 2, 3, 4]
[1, 2, 4]

(5, 'my', None)

In [ ]:
# 리스트 더하기

a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [ ]:
# 정렬

a = [2, 3, 1, 5, 4]
b = sorted(a) # 순차 정렬
b.reverse() # 역순 정렬
b

[5, 4, 3, 2, 1]

In [ ]:
a = range(5)
type(a)

range

In [ ]:
# for 문을 한 줄로 축약

[x for x in range(5)] 
a = [x *10 for x in range(5)] 
print(a)

[0, 10, 20, 30, 40]

#### 리스트 예제 01
```
array = [1, 2, 3, 4, 5]
```
리스트 array에 숫자 5를 7으로 바꾸시오.

리스트 array에 숫자 2를  리스트[‘a’,’b’,’c’]로 바꾸시오.

리스트 array에 4,7를  ‘d’, ‘e’, ‘f’, ‘g’로 바꾸시오.
```
[1, 2, 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']
```

In [ ]:
array = [1, 2, 3, 4, 5]
array[-1] = 7
array[1] = ['a', 'b', 'c']
array[-2:] = 'd', 'e', 'f', 'g'

print(array)

[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [ ]:
array = [1, 2, 3, 4, 5]
array[-1] = 7
print(array)
array[1] = ['a', 'b', 'c']
print(array)
array[3:] = 'd', 'e', 'f', 'g'
print(array)

[1, 2, 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [ ]:
array = [1, 2, 3, 4, 5]
array[-1] = 7 ;                    print(array)
array[1] = ['a', 'b', 'c']  ;      print(array)
array[3:] = 'd', 'e', 'f', 'g' ;   print(array)

[1, 2, 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

## 튜플

In [ ]:
if ('x' in 'xyz') :
  print("True")

if 'x' in ('x', 'y', 'z') :
  print("True")

if 'x' in ['x', 'y', 'z'] :
  print("True")

True
True
True

## 딕셔너리

In [ ]:
dict1 = {'name' : 'kim', 'age' : 21, 'grade' : 3}
print(dict1['age'])
print(dict1.keys())
print(dict1.values())
print(dict1.items())

for k, v in dict1.items() :
  print(k, v)
for (k, v) in dict1.items() :
  print(k, v)

21
dict_keys(['name', 'age', 'grade'])
dict_values(['kim', 21, 3])
dict_items([('name', 'kim'), ('age', 21), ('grade', 3)])
name kim
age 21
grade 3
name kim
age 21
grade 3

In [ ]:
# 딕셔너리 사용시 유의사항

dict1 = {}
type(dict1)
dict1[1] = 1
dict1[3] = 3
dict1[1] += 1
print(dict1)

{1: 2, 3: 3}

In [ ]:
dict1 = {}
type(dict1)
dict1[1] = 1
dict1[3] = 3
dict1[1] += 1
dict1[2] += 1 # Error (dict[2]가 없기 때문)
print(dict1)

KeyError: ignored

In [ ]:
dict1 = {}
for i in [1,1,2,3,3,4] :
  if i in dict1 :
    dict1[i] += 1
  else :
    dict1[i] = 1

print(dict1)

{1: 2, 2: 1, 3: 2, 4: 1}

## 집합

set()

- 중복을 허용하지 않는다
-

In [ ]:
s1 = set((1,2,3,3))
s1

{1, 2, 3}

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합
print(s1 & s2)
print(s1.intersection(s2)) 

# 합집합
print(s1 | s2) 
print(s1.union(s2))

# 차집합
print(s1 - s2)
print(s2 - s1)

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}

#### 조건문 예제 01

마트 계산대 프로그램입니다.
10000원짜리 추석선물셋트를 구입했을 때 지불해야하는 금액을 계산해 보세요.
단, 11개 이상 구매시에는 10%할인이 됩니다!

```
상품 개수 : 9
가격은 90000원 입니다.
상품 개수 : 12
가격은 108000원 입니다.
```

In [ ]:
def get_pay(count) :
  price = 10000
  per = 1

  if count >= 11 :
    per = 0.9

  return count * price * per

pay = get_pay(9)
print(f"가격은 {pay}원 입니다.")

pay = get_pay(12)
print(f"가격은 {pay}원 입니다.")

##  반복문 (while)

In [ ]:
num = 0
while num <= 10 :
  print(num)
  num += 1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
num = 0
while num <= 10 :
  num = int(input("정수 입력 : "))
  print(num)
print("종료 되었습니다.")

정수 입력 : 10
10
정수 입력 : 11
11
종료 되었습니다.

In [ ]:
num = 1
while True :
  num = int(input("정수 입력 : "))
  print(num)
  if num == 0 :
    break

print("종료되었습니다.")

정수 입력 : 3
3
정수 입력 : 0
0
종료되었습니다.

In [ ]:
def while_test() :
  num = 1
  while True :
    num = int(input("정수 입력 : "))
    print(num)
    if num == 0 :
      return  # break 대신 return  사용

while_test()
print("종료되었습니다.")

정수 입력 : 3
3
정수 입력 : 0
0
종료되었습니다.

#### while 예제 01

```
100 이하 5배수의 합은?
```

In [ ]:
num = 1
sum = 0

while num <= 100 :
  if num % 5 == 0 :
    sum += num
  num += 1

print("100 이하 5배수의 합은 :", sum)

100 이하 5배수의 합은 : 1050

In [ ]:
num = 1
sum = 0

while num <= 100 :
  num += 1
  if num % 5 == 0 :
    sum += num

print("100 이하 5배수의 합은 :", sum)

100 이하 5배수의 합은 : 1050

#### while 예제 02

다이어트 관리 프로그램

1. 현재 몸무게와 목표몸무게를 입력 받고 주차 별 감량 몸무게를 입력 받으세요.
2. 목표몸무게를 달성하면 축하한다는 문구를 출력하고 입력을 멈추세요!

```
현재 몸무게 : 80
목표 몸무게 : 70
1주차 감량 몸무게 : 2
2주차 감량 몸무게 : 3
3주차 감량 몸무게 : 4
4주차 감량 몸무게 : 5
66kg 달성! 축하합니다.
```

In [ ]:
# 내 풀이

current = int(input("현재 몸무게 : "))
target = int(input("목표 몸무게 : "))
week = 1

while current >= target :
  n = int(input(f"{week}주차 감량 몸무게 : "))
  if current - n > target :
    current -= n
    week += 1
  elif current - n <= target :
    current -= n
    break

print(f"{current}kg 달성! 축하합니다")

현재 몸무게 : 80
목표 몸무게 : 70
1주차 감량 몸무게 : 2
2주차 감량 몸무게 : 3
3주차 감량 몸무게 : 4
4주차 감량 몸무게 : 5
66kg 달성! 축하합니다

In [ ]:
def abc(current, target) :
  week = 1

  while current >= target :
    lose = int(input(str(week) + "주차 감량 몸무게 : "))
    week += 1
    current -= lose

  return current

current = int(input("현재 몸무게 : "))
target = int(input("목표 몸무게 : "))

curr = abc(current, target)
print(curr, "kg 달성! 축하합니다")

현재 몸무게 : 80
목표 몸무게 : 70
1주차 감량 몸무게 : 2
2주차 감량 몸무게 : 3
3주차 감량 몸무게 : 4
4주차 감량 몸무게 : 5
66 kg 달성! 축하합니다

In [ ]:
def abc(current, target) :
  week = 1
  while current >= target:
    lose = int( input(str(week) + '주차 감량 몸무게 : '))
    week += 1
    current -= lose

  return current


current = int( input('현재 몸무게 : ') )
target = int( input('목표 몸무게 : ') )

curr = abc(current, target)
print(curr, 'kg 달성! 축하합니다.')

현재 몸무게 : 80
목표 몸무게 : 70
1주차 감량 몸무게 : 2
2주차 감량 몸무게 : 3
3주차 감량 몸무게 : 4
4주차 감량 몸무게 : 5
66 kg 달성! 축하합니다.

## range()

In [ ]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(0, 11, 5))

[0, 5, 10]

In [ ]:
1 in range(1, 10)

True

random()

In [ ]:
import random as ran

ran.randint(1, 10)

8

랜덤 숫자 맞추기 (1~50)

```
숫자를 입력하세요 >> 25
25보다 작은 수 입니다.
숫자를 입력하세요 >> 15
15보다 큰 수 입니다.
숫자를 입력하세요 >> 18
3번만에 맞추셨습니다.
```

In [ ]:
# 내 풀이

import random as ran
r = ran.randint(1, 51)
cnt = 0

while True :
  num = int(input("숫자를 입력하세요 : "))
  cnt += 1
  if num > r :
    print(f"{num}보다 작은 수 입니다.")
  elif num < r :
    print(f"{num}보다 큰 수 입니다.")
  else :
    break

print(cnt, "번만에 맞추셨습니다.")

숫자를 입력하세요 : 25
25보다 큰 수 입니다.
숫자를 입력하세요 : 37
37보다 작은 수 입니다.
숫자를 입력하세요 : 30
30보다 큰 수 입니다.
숫자를 입력하세요 : 33
33보다 작은 수 입니다.
숫자를 입력하세요 : 32
5 번만에 맞추셨습니다.

In [ ]:
comnum = 18
count = 0
while True:
  count += 1
  num = int( input('숫자를 입력하세요 >> '))
  if num == comnum:
    print(count, '번만에 맞추셨습니다.')
    break
  elif num < comnum:
    print(num, '보다 큰 수 입니다.')
  else:
    print(num, '보다 작은 수 입니다.')

숫자를 입력하세요 >> 25
25 보다 작은 수 입니다.

In [ ]:
import random as ran

comnum = ran.randint(1, 51)
count = 0
while True:
  count += 1
  num = int( input('숫자를 입력하세요 >> '))
  if num == comnum:
    print(count, '번만에 맞추셨습니다.')
    break
  elif num < comnum:
    print(num, '보다 큰 수 입니다.')
  else:
    print(num, '보다 작은 수 입니다.')

숫자를 입력하세요 >> 25
25 보다 작은 수 입니다.
숫자를 입력하세요 >> 13
13 보다 작은 수 입니다.
숫자를 입력하세요 >> 7
7 보다 큰 수 입니다.
숫자를 입력하세요 >> 9
9 보다 작은 수 입니다.
숫자를 입력하세요 >> 8
5 번만에 맞추셨습니다.

## 반복문 (for)


- 동작을 반복할 때 for 루프를 사용한다
- for 문장의 끝에는 ':'가 있어야 하며 for 문이 적용되는 블록(block)은 반드시 들여쓰기 (indentation)을 해야 한다. 

for문의 기본 구조
```
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...
```
```
for 변수 in range(시작값, 종료값, 증가):
    수행할 문장1
    수행할 문장2
    ...
```

In [ ]:
for x in range(1, 6):
  print(x)

1
2
3
4
5

In [ ]:
arr = [[1,2],[3,4],[5,6]]
for a,b in arr:
  print(a,b)

1 2
3 4
5 6

#### 반복문 예제 01
array에 들어있는 데이터를 다음과 같이 하나씩 출력하시오.
```
array = [ [1, 2], [3, 4], [5, 6] ]
```
```
1
2
3
4
5
6
```

In [ ]:
array = [ [1, 2], [3, 4], [5, 6] ]

for a,b in array  :
  print(a)
  print(b)

1
2
3
4
5
6

#### 반복문 예제 02
0부터 10까지 다음과 같이 출력하시오.
```
0 1 2 3 4 5 6 7 8 9 10
```

In [ ]:
for i in range(11) :
  print(i, end = " ")

0 1 2 3 4 5 6 7 8 9 10

#### 반복문 예제 03

* for문을 사용하여 96에서 53까지 출력하시오.
* for문을 사용하여 21에서 57까지의 수 중 홀수만 출력하시오.
* 정수를 입력 받아 1부터 입력 받은 정수까지 차례대로 출력하는 프로그램을 
작성하시오.
```
정수입력: 10
1 2 3 4 5 6 7 8 9 10
```
* 한 개의 자연수를 입력 받아 그 수의 배수를 차례로 10개 출력하는 프로그램을 작성하시오.
```
정수입력: 5
5 10 15 20 25 30 35 40 45 50
```
* 1~100까지 3의 배수의 합을 출력하세요. (1683)

In [ ]:
# 예제 03 - 1

for i in range (96, 52, -1) :
  print(i, end = " ")

96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53

In [ ]:
# 예제 03 - 1

for i in reversed(range (53, 97)) :
  print(i, end = " ")

96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53

In [ ]:
# * 한 개의 자연수를 입력 받아 그 수의 배수를 차례로 10개 출력하는 프로그램을 작성하시오.
# 예시
# 정수입력: 5
# 5 10 15 20 25 30 35 40 45 50

num = int(input("정수입력 : "))
for i in range(num, num * 10 + 1, num) :
  print(i, end = " ")

정수입력 : 7
7 14 21 28 35 42 49 56 63 70

In [ ]:
# * 1~100까지 3의 배수의 합을 출력하세요. (1683)
sum = 0
for i in range(3, 101, 3) :
  sum += i

print(sum)

1683

In [ ]:
sum = 0

for i in range(1, 101) :
  if i % 3 == 0 :
    sum += i

print(sum)

1683

#### 반복문 예제 04
다음과 같이 별 모양을 출력하시오.

```
*
**
***
****
*****
```

In [ ]:
for i in range(1, 6) :
  print("*" * i)

*
**
***
****
*****

In [ ]:
for i in range(5) :
  print("*" * (i+1))

*
**
***
****
*****

## 함수
입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것
> 입력값 ---> 함수 ----> 결과값

* 똑같은 내용을 반복해서 작성하고 있는 자신을 발견할 때, 
* "반복적으로 사용되는 가치 있는 부분"을 한 뭉치로 묶어서 
* "어떤 입력값을 주었을 때 어떤 결괏값을 돌려준다"라는 식의 함수로 작성하는 것

파이썬 함수의 구조
```
def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>
    ...
```
```
def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>
    ...
    return 결과값
```
```
def 함수명():
    <수행할 문장1>
    <수행할 문장2>
    ...
    return 결과값
```
```
def 함수명():
    <수행할 문장1>
    <수행할 문장2>
    ...
```

In [ ]:
def add(a, b) :
  return a + b

print(add(3, 4))

7

In [ ]:
def add_many(*args) : # 입력 받는 값이 여러 개일 때 (입력값이 몇 개가 될지 모를 때)
  for i in args :
    print(i)

print(add_many(1, 2, 3, 4, 5))

1
2
3
4
5
None

In [ ]:
def print_keys(**kwargs) :  # 들어오는 변수값을 딕셔너리 형태로 사용할 때
  print(kwargs)

print_keys(a=1, name = 'one')

{'a': 1, 'name': 'one'}

In [ ]:
a = 1
def vartest(a) :
  a = a + 1

vartest(a)
print(a)

1

In [ ]:
a = 1
def vartest(a) :
  a = a + 1
  return a

a = vartest(a)
print(a)

2

In [ ]:
v = [1]

def vartest(v) :
  v.append(2)

vartest(v)
print(v)

[1, 2]

In [ ]:
add = lambda a, b: a + b
print(add(1,3))

4

#### 함수 예제 01
두 개의 정수를 입력 인수로 받아 더 큰 수를 반환하는 함수 LargerNumber를 만들어 다음과 같은 결과를 출력하시오.
```
num1 = int(input("첫 번째 정수 입력: "))
num2 = int(input("두 번째 정수 입력: "))
result = LagerNumber(num1, num2)
print("큰 수 확인:", result)
```
```
첫 번째 정수 입력: 8
두 번째 정수 입력: 6
큰 수 확인: 8

첫 번째 정수 입력: 4
두 번째 정수 입력: 8
큰 수 확인: 8

첫 번째 정수 입력: 5
두 번째 정수 입력: 5
큰 수 확인: 0
```

In [ ]:
a = int(input("첫 번째 정수 입력: "))
b = int(input("두 번째 정수 입력: "))

def LargeNumber(a, b) : 
  if a == b :
    return 0
  elif a > b :
    return a
  else :
    return b
 
result = LargeNumber(a, b)
print("큰 수 확인:", result)

첫 번째 정수 입력: 5
두 번째 정수 입력: 8
큰 수 확인: 8

In [ ]:
a = int(input("첫 번째 정수 입력 : "))
b = int(input("두 번째 정수 입력 : "))

def LargeNumber(a, b) : 
  if a == b :
    return 0
  
  return a if a > b else b
 
result = LargeNumber(a, b)
print("큰 수 확인:", result)

첫 번째 정수 입력 : 3
두 번째 정수 입력 : 7
큰 수 확인: 7

#### 함수 예제 02
2개의 정수를 받아 2개의 숫자 중 10에 더 가까운 수를 
반환하는 함수 close10을 만들어 다음과 같은 결과를 출력하시오.
(만약 두 숫자 모두 10과의 차이가 같다면 첫 번째 수를 반환)
```
num1 = int(input("첫 번째 정수 입력: "))
num2 = int(input("두 번째 정수 입력: "))
result = close10(num1, num2)
print("10에 가까운 수:", result)
```
```
첫 번째 정수 입력: 2
두 번째 정수 입력: 7
10에 가까운 수: 7

첫 번째 정수 입력: 8
두 번째 정수 입력: 5
10에 가까운 수: 8

첫 번째 정수 입력: 2
두 번째 정수 입력: 13
10에 가까운 수: 13
```

In [ ]:
num1 = int(input("첫 번째 정수 입력 : "))
num2 = int(input("두 번째 정수 입력 : "))

def close10 (num1, num2) :
  n1 = abs(10 - num1) # abs : 절대값 함수
  n2 = abs(10 - num2)
  if n1 == n2 :
    return num1
  elif n1 > n2 :
    return num2
  else : 
    return num1

result = close10(num1, num2)
print("10에 가까운 수:", result)

첫 번째 정수 입력 : 5
두 번째 정수 입력 : 13
10에 가까운 수: 13

In [ ]:
a = int(input("첫 번째 정수 입력 : "))
b = int(input("두 번째 정수 입력 : "))

def close10 (a, b) :
  if abs(10 - a) < abs(10 - b) :
    return a
  else :
    return b

result = close10(a, b)
print("10에 가까운 수:", result)

In [ ]:
a = int(input("첫 번째 정수 입력 : "))
b = int(input("두 번째 정수 입력 : "))

def close10 (a, b) :
  return a if abs(10 - a) < abs(10 - b) else b

result = close10(a, b)
print("10에 가까운 수:", result)

첫 번째 정수 입력 : 5
두 번째 정수 입력 : 9
10에 가까운 수: 9

#### 함수 예제 03 - 1
num2가 num1의 약수인지 확인하여 True또는 False를 반환하는 isDivisor()메소드를 구현하시오.
```
num1 = int(input("첫 번째 정수 입력: "))
num2 = int(input("두 번째 정수 입력: "))
result = isDivisor(num1, num2)
print(result)
```
```
첫 번째 정수 입력: 5
두 번째 정수 입력: 10
True

첫 번째 정수 입력: 3
두 번째 정수 입력: 10
False

첫 번째 정수 입력: 0
두 번째 정수 입력: 10
False
```

In [ ]:
num1 = int(input("첫 번째 정수 입력 : "))
num2 = int(input("두 번째 정수 입력 : "))

def isDivisor(num1, num2) :
  for i in range(1, num2+1) :
    if num1 == 0 :
      return False 
    elif  num2 % num1 == 0 :
      return True
    else :
      return False

result = isDivisor(num1, num2)
print(result)

첫 번째 정수 입력 : 4
두 번째 정수 입력 : 8
True

In [ ]:
def isDivisor(a, b):
  if a == 0:
    return False

  return (b % a == 0)

num1 = int(input("첫 번째 정수 입력: "))
num2 = int(input("두 번째 정수 입력: "))
result = isDivisor(num1, num2)
print(result)

첫 번째 정수 입력: 4
두 번째 정수 입력: 10
False

#### 함수 예제 03 - 2
약수들을 구하는 getDivisor() 함수를 구현하시오.
```
getDivisor(10)
getDivisor(16)
getDivisor(24)
```
```
10의 약수: 1 2 5 10
16의 약수: 1 2 4 8 16
24의 약수: 1 2 3 4 6 8 12 24
```

In [ ]:
result = []

def getDivisor(a) :
  for i in range(1, a+1) :
    if a % i == 0 :
      result.append(i)
  return result

def printDivisor(d) :
  for i in d :
    print(i, end = " ")
  print()


printDivisor(getDivisor(10))

1 2 5 10

In [ ]:
def getDivisor(a):
  result = []
  for i in range(1, a+1):
    if isDivisor(i, a):
      result.append(i)

  return result


def printDivisor(d):
  for i in d:
    print(i, end=' ')
  print()


printDivisor( getDivisor(10) )

1 2 5 10

In [ ]:
def getDivisor(a):
  result = []
  for i in range(1, a+1):
    if isDivisor(i, a):
      result.append(i)

  return result


def printDivisor(d):
  for i in d:
    print(i, end=' ')
  print()

num = 10
print(num, "의 약수 :", end = " ")
res = getDivisor(num)
printDivisor( getDivisor(10) )

10 의 약수 : 1 2 5 10

#### 함수 예제 03 - 3
start 부터 end 까지의 약수를 구하는 getDivisorRange() 함수를 구현하시오.
```
getDivisorRange(10, 16)
```
```
10의 약수: 1 2 5 10
11의 약수: 1 11
12의 약수: 1 2 3 4 6 12
13의 약수: 1 13
14의 약수: 1 2 7 14
15의 약수: 1 3 5 15
16의 약수: 1 2 4 8 16
```

In [ ]:
def getDivisorRange(a, b) :
  result = []
  for i in range(a, b+1) :
    for j in range(1, i+1) :
      if i % j == 0 :
        result += j
      return result

getDivisorRange(10, 16)

TypeError: ignored

In [ ]:
def isDivisor(a, b):
  if a == 0:
    return False
  return b % a == 0

def getDivisor(n):
  array = []
  for i in range(1, n+1):
    if isDivisor(i, n):
      array.append(i)
  printDivisor(n, array)

def printDivisor(n, array):
  print(f"{n}의 약수 :", end=" ")
  for i in array:
    print(i, end=' ')
  print()

def getDivisorRange(start, end):
  for i in range(start, end+1):
    getDivisor(i)

getDivisorRange(10, 16)

10의 약수 : 1 2 5 10
11의 약수 : 1 11
12의 약수 : 1 2 3 4 6 12
13의 약수 : 1 13
14의 약수 : 1 2 7 14
15의 약수 : 1 3 5 15
16의 약수 : 1 2 4 8 16

In [ ]:
def getDivisor(a):
  result = []
  for i in range(1, a+1):
    if isDivisor(i, a):
      result.append(i)
  return result

def printDivisor(d):
  for i in d:
    print(i, end=' ')
  print()

def getDivisorRange(c, d) :
  for num in range(c, d + 1) :
    res = getDivisor(num)
    print(num, '의 약수 : ', end='')
    printDivisor( res )

getDivisorRange(10, 16)

10 의 약수 : 1 2 5 10
11 의 약수 : 1 11
12 의 약수 : 1 2 3 4 6 12
13 의 약수 : 1 13
14 의 약수 : 1 2 7 14
15 의 약수 : 1 3 5 15
16 의 약수 : 1 2 4 8 16

## 외장 함수

In [ ]:
import os

os.getcwd()

'/content'

## 클래스 상속

In [ ]:
class Dog :
  def __init__(self, name, age) :
    self.name = name # 보관
    slef.age = age # 보관

  def speak(self) :
    print("멍")

class Cat :
  def __init__(self, name, age) :
    self.name = name # 보관
    slef.age = age # 보관

  def speak(self) :
    print("야옹")

중복되는 코드가 많으므로 클래스를 상속해주어 간결하게 표현

In [ ]:
class Pet :
  def __init__(self, name, age) :
    self.name = name # 보관
    self.age = age # 보관

  def show(self) :
    print(f"나는 {self.name} 이고, {self.age}살 입니다.")

class Dog(Pet) :
  def speak(self) :
    print("멍!")

class Cat(Pet) :
  def speak(self) :
    print("냐옹!")

p = Pet("톰", 7)
p.show()
d = Dog("스캇", 9)
d.show()
d.speak()
c = Cat("래니", 12)
c.show()
c.speak()

나는 톰 이고, 7살 입니다.
나는 스캇 이고, 9살 입니다.
멍!
나는 래니 이고, 12살 입니다.
냐옹!

In [ ]:
class Pet :
  def __init__(self, name, age) :
    self.name = name # 보관
    self.age = age # 보관

  def show(self) :
    print(f"나는 {self.name} 이고, {self.age}살 입니다.")

  def speak(self) :
    print("나는 말 안 할거야")

class Dog(Pet) :  # 클래스 상속
  def speak(self) :
    print("멍!")

class Cat(Pet) :  # 클래스 상속
  def speak(self) :
    print("냐옹!")

p = Pet("톰", 7)
p.show()
p.speak()
d = Dog("스캇", 9)
d.show()
d.speak()
c = Cat("래니", 12)
c.show()
c.speak()

나는 톰 이고, 7살 입니다.
나는 말 안 할거야
나는 스캇 이고, 9살 입니다.
멍!
나는 래니 이고, 12살 입니다.
냐옹!

In [ ]:
class Fish(Pet) :
  pass

f = Fish("버블", 2)
f.show()
f.speak()

나는 버블 이고, 2살 입니다.
나는 말 안 할거야

In [ ]:
class Cat(Pet) :
  def __init__(self, name, age, color) :
    super().__init__(name, age)  # 상위 클래스의 생성자 호출
    self.color = color

  def speak(self) :
    print("냐옹!")

c = Cat("래니", 12, "갈색")
c.name
c.show()

나는 래니 이고, 12살 입니다.

참고

[Class 함수 - Super()](https://velog.io/@gwkoo/%ED%81%B4%EB%9E%98%EC%8A%A4-%EC%83%81%EC%86%8D-%EB%B0%8F-super-%ED%95%A8%EC%88%98%EC%9D%98-%EC%97%AD%ED%95%A0)

### 클래스 정적메소드(함수)

In [ ]:
class Math:
  @staticmethod
  def add5(x):
    return x + 5
  
  @staticmethod
  def pi():
    return 4

Math.pi()

4